<!doctype html>
<html>
<head>
<title>Pacman multiplayer</title>

</head>
<body>
<h1>Pacman!!</h1>






<table>
<% for(var i = 1; i < 31; i++) {				%>	
<tr>
<%	for(var j = 1; j < 31; j++) {				%>
<td><%= 	board[i + ':' + j].name				%></td>
<%  }											%>
</tr>										
<%  }											%>
</table>

 <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>









<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/alert.js"></script>
<script src="/socketClient.js"></script>




<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</body>
  </html>