<!doctype html>
<html>
<head>
<title>Pacman multiplayer</title>
 <link rel='stylesheet' href='/main.css'>
</head>
<body>
<h1>Pacman!!</h1>






<table>
<% for(var i = 1; i < 31; i++) {				%>	
<tr>
<%	for(var j = 1; j < 31; j++) {				%>
<td class='cell'><%= 	board[i + ':' + j].name				%></td>
<%  }											%>
</tr>										
<%  }											%>
</table>

 <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>



<img class="pacman" id="yellowPacman" src="/pacman.png">


<script src="/socket.io/socket.io.js"></script>
<script src="/socketClient.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

<script src="/interface.js"></script>

</body>
  </html>